<div class="d-flex flex-row justify-content-center">
    <button type="button" class="btn btn-primary m-2" (click)="addExpensesFunction()">Add Expenses</button>
    <button type="button" class="btn btn-primary m-2" (click)="addIncomeFunction()">Add Income</button>
</div>